@charset "UTF-8";

@media screen and (min-width: 481px) and (max-width: 768px){

    body{
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone{ display: none;}
    img#tablet{ display: block;}
    img#print{ display: none;}
    img#pc{ display: none;}
    img#tv{ display: none;}

}/* ipads, tablets */

@media screen and (min-width: 769px) and (max-width: 1024px){
    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone{ display: none;}
    img#tablet{ display: block;}
    img#print{ display: none;}
    img#pc{ display: none;}
    img#tv{ display: none;}
}/* small screens, laptops */

@media screen and (min-width: 1025px) and (max-width: 1200px){
    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone{ display: none;}
    img#tablet{ display: none;}
    img#print{ display: none;}
    img#pc{ display: block;}
    img#tv{ display: none;}
} /* desktops, large screens */

@media screen and (min-width: 1201px){
    body{
        background-image: url(../imagens/back-tv.jpg);
    }


    img#phone{ display: none;}
    img#tablet{ display: block;}
    img#print{ display: none;}
    img#pc{ display: none;}
    img#tv{ display: block;}
}