@charset "UTF-8";

@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf) format('opentype');
}

body{
    margin: 0%;
    padding: 0%;
    background-color: gainsboro;
}

body p{
    text-indent: 30px;
}
header{
    margin: 0%;
    padding: 40px 10px 10px 10px ;
    background-image: linear-gradient(to top, black, #008a00);
    color: white;
    text-align: center;
    box-shadow: black;
}
header h1{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header nav{
    text-align: left;
}
header nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 15px;
    padding: 8px;
    border-radius: 5px;

    
    
}
header nav a:hover{
    background-color: rgb(255, 255, 255);
    color: #006600;
    text-emphasis:bold;
    
}
main{
    background-color: rgb(255, 255, 255);
    margin: 0px 20px;
    padding: 20px;
}
main h1{
    margin: 0%;
    color: #005200;
    font-family: 'android', sans-serif;
    font-size: 26px;
    font-weight: normal;
}
main h2{
    font-family: 'android', sans-serif;
    font-size: 20px;
    color: #008a00;
    background-color: #008a007c;
    padding-left: 5px;
    font-weight: normal;

}
main h3{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #005800;
    color: white;
    padding: 5px;
    font-weight: normal;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}
main p{
    font-family: Arial, Helvetica, sans-serif;
}
div{
    background-color: #008a0081;
    border-radius: 10px;
    padding-left: 5px; 
}


