@charset "UTF-8";

/* Estilo para telas*/

*{
    margin: 0px;
    padding: 0px; 
    
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-color: lightgrey;
}

header > h1{
    text-align: center;
}

header ul{
    background-color: gray;
}

header li{
    background-color: darkgrey;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
}

body{
    padding: 10px;
}

article h2, p{
    padding: 10px;
}
