@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
body{
    background-color: gray;
}
a{
    color: white;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
header h1{
    font-size: 4em;
}

section{
    padding: 30px 20px;
    font-size: 2em;
}

.normal{
    background-color: white;
}

.normal p{
    padding-left: 10px;
    padding-top: 75px;
    padding-bottom: 75px;
    
}

.img p{
    background-color: rgba(0, 0, 0, 0.486);
    border-radius: 10px;
    color: white;
    display: inline-block;
    padding-left: 10px;
    padding-top: 75px;
    padding-bottom: 75px;

}

.img{
    background-size: cover;
    background-attachment: fixed;
}

#img1{
    background-image: url(pacote-d012/imagens/background001.jpg);
    background-position: right center;
}

#img2{
    background-image: url(pacote-d012/imagens/background002.jpg);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}