@charset "UTF-8";

@media screen and (min-width: 768px){
    
    body{
        background-image: linear-gradient(to top, rgb(0, 110, 255), purple);
    }
    
    section#login{
        width: 80vw;
        height: 400px;
    }

    section#login > div#imagem{
        float: left;

        width: 30%;
        height: 100%;
    }

    section#login > div#formulario{
        padding-top: 10%;
        float: right;
        width: 70%;

    }

}

@media screen and (min-width: 992px) {

    section#login{
        width: 950px;
    }
    
    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
        height: 100%;
    }
}