@charset "UTF-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

body, html{
    background-color: rgb(0, 70, 128);
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow:hidden;

    background-color: white;
    width: 75vw;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.747);

    transition: width .5s, height .5s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: purple url(../imagens/metal.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
    
}

div#formulario > p{
    font-size: 0.9em;
    margin-bottom: 5px;
}

form > div.campo{
 
    padding: 5px;
    height: 40px;

}

div.campo > span{
    font-size: 2em;
    padding: 5px;
    width: 40px;
}

div.campo > input{
    width: calc(100% - 50px);
    height: 100%;
    font-size: 1em;
    padding: 5px;
    border-radius: 10px;
    transform: translatey(-12px);
    border: 1px solid rgba(0, 0, 0, 0.219);
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgb(0, 110, 255);
    color: white;
    border: none;
    border-radius: 9px;
    margin-top: 10px;
}

form > input[type=submit]:hover{
    background-color: rgb(0, 88, 202);
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
   
}

form > a.botao:hover{
    color: rgb(59, 59, 59);
    text-decoration: underline;
    
    
}

form > a.botao > span{
    font-size: 0.8em;
    
    transform: translatey(2px);
}