@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --font-p: "Sriracha", sans-serif;
    --font-sec: "Passion One", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body{
    min-height: 100vh;
    background-color: gray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--font-sec);
}

header > h1{
    padding-top: 50px;
    font-size: 5em;
    font-variant: small-caps; /* tudo maiuscula, mas as primeiras letras ficam maiores */

}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

section{
    padding-top: 20vh;
    padding-bottom: 20vh;
    padding-left: 30px;
    line-height: 10vh;
    

}

section > p{
    font-family: var(--font-p);
    padding: 10px;
    font-size: 2em;

}


.normal{
    background-color: white;
    color: black;
}

.img > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.432);
    color: white;
    
}    

.img{
    background-size: cover;
    background-attachment: fixed;
}

#img1{
    background-image: url(pacote-d012/imagens/background001.jpg);
    background-position: right center;
    
}

#img2{
    background-image: url(pacote-d012/imagens/background002.jpg);
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}